.mantine-TextInput-input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0!important;
}
.mantine-TextInput-input:focus{
  border-color: var(--primary-focus-color)!important;
}
.mantine-Timeline-itemBullet{
  border: none!important;
  background-color: transparent!important;
}
.mantine-Modal-body{
  padding: 1rem!important;
}
.mantine-List-itemIcon{
  padding-top: 5px;
}
.mantine-Switch-track{
  background-color: #376668!important;
  border-color: transparent!important;
}
input:checked+.mantine-Switch-track{
  background-color: #9ad3b8!important;
  border-color: transparent!important;
}
.mantine-SegmentedControl-root{
  background-color: transparent!important;
  /* background-color: rgb(236 253 245)!important;
  box-shadow: 0 1px 2px 0 #115e59!important; */
}
.mantine-SegmentedControl-indicator{
  background-color: rgba(255, 255, 255, 0.3);
}

.dark .main-page-center::after{
  background: radial-gradient(rgba(1, 149, 255, 0.4), rgba(1, 65, 255, 0));
}
.dark .main-page-center::before{
  background: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );
}
.prose{
  color: inherit!important;
}
.dark .prose :where(h3):not(:where([class~="not-prose"] *)){
  color: #94a3b8;
}
.dark .prose :where(a):not(:where([class~="not-prose"] *)){
  color: #79a6e4;
}
.prose :where(code):not(:where([class~="not-prose"] *)){
  color: #4d7c0f;
}
.dark .prose :where(code):not(:where([class~="not-prose"] *)){
  color: #84cc16;
}
.prose :where(code):not(:where([class~="not-prose"] *))::before{
  content: '';
}
.prose :where(code):not(:where([class~="not-prose"] *))::after{
  content: '';
}