.mantine-TextInput-input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0!important;
}
.mantine-TextInput-input:focus{
  border-color: var(--primary-focus-color)!important;
}
.mantine-Timeline-itemBullet{
  border: none!important;
  background-color: transparent!important;
}
.mantine-Modal-body{
  padding: 1rem!important;
}
.mantine-List-itemIcon{
  padding-top: 5px;
}