.main {
  padding-bottom: 4rem;
}

.description {
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.suggest {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33.3333%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 4rem;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 300px;
  height: 160px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 300px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  top: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.list {
  max-height: 80vh;
  overflow-y: scroll;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 90vw;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .search_bar,
  .suggest {
    display: flex;
  }
  .suggest{
    position: fixed;
  }

  .description .search_bar {
    align-items: center;
    border-radius: 0;
    border: none;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    margin-left: 2rem;
  }

  .suggest {
    align-items: center;
    justify-content: space-between;
    inset: auto 0 0;
    padding: 0.4rem 1rem;
    background: var(--primary-focus-color);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -3px 10px 0px rgba(96, 125, 139, 0.282);
    z-index: 10;
  }

  .list-page {
    flex-direction: column;
  }

  .intro, .list {
    width: 90%;
    margin: 1rem auto;
  }
  .hide-on-mobile{
    display: none;
  }
  .article{
    max-width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(3, 33.3333%);
  }
  .main {
    padding: 2rem;
  }
  .suggest {
    display: none;
  }
}

@media (min-width: 701px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  .list-page {
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
  }
  .hide-on-widescreen{
    display: none;
  }
  .list{
    width: 45vw;
  }

  .article{
    width: 66vw;
  }
  .directory{
    width: 26vw;
  }
}
